# local config files
config

# cache
__pycache__
*checkpoint*
.DS_Store

# virtual env 
venv
.venv

# sandbox folders
amita
dilip
frank
hisham
iuliia
jan
kamlesh
kanmani
madhu
max
moises
neha
sascha
sofia
sumit
